{% extends 'blog/base.html' %}
{% block content %}

<h2>Post info # {{post.id}}</h2>
<hr>
<p>Author - {{post.author}}</p>
<p>Name - {{post.title}}</p>
<p>Post text:</p>
<p>{{post.text}}</p>

{% if post.image %}
    <img width="300px" height="200px" src="{{post.image.url}}">
{% endif %}

<br>
<p>Created: {{post.created_at}}</p>

<div>
    <a href="{% url 'blog:post_edit' pk=post.id %}" class="btn btn-primary">Edit</a>
    <form action="{% url 'blog:post_delete' pk=post.id %}" method="post" style="display:inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>

{% endblock content %}


